@font-face {
    font-family: publicSans;
    src: url('./fonts/publicSans/PublicSans-Light.ttf');
}

@font-face {
    font-family: publicSans-bold;
    src: url('./fonts/publicSans/PublicSans-Bold.ttf');
}

@font-face {
    font-family: bitter;
    src: url('./fonts/Bitter/Bitter-Regular.ttf');
}

#page {
  display: flex;
  flex-wrap: wrap;
}

html{
  scroll-behavior: smooth;
}

hr{
  margin-top: 3em;
}

th{
  margin-top: 1em;
  width:50%;
}

table{
  margin-top: 1em;
}

body{
  margin: 0;
  font-size: 16px;
  font-family:'publicSans', sans-serif;
  background-color: white;
}

#content__container{
  background-color: white;
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
}

#containers__container{
  width:100%;
  background-color: #f7f7f7;
}

#page-icons__container{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#page-icons__container img{
width: 13%;
padding: 1.5%;
}

#page-icons__container h3{
width: 13%;
padding: 1.5%;
}


p{
  font-family: 'publicSans', sans-serif;
  width: 100%;
  font-size: 1em;
  line-height: 200%;
}

h1{
  padding-top: 20px;
  width: 100%;
  font-size: 3em;
  font-family: 'bitter', serif;
}

h2{

  font-size: 2.5em;
  font-family: 'publicSans', sans-serif;
}

h3{

  font-size: 2em;
  font-family: 'publicSans', sans-serif;
}

h4{

  font-size: 1.5em;
  font-family: 'publicSans', sans-serif;
}

.bodyTextBold {
    font-family: 'publicSans-bold';
    font-size: 16px;
    width: 60%;
    vertical-align: middle;
}

.buttonMeta {
    font-family: 'publicSans-bold';
    font-size: 13px;
    display: inline;
    vertical-align: middle;
}

span {
    font-family: 'publicSans';
    font-size: 14px;
    color: dimgray;
    margin: 0;
    padding: 0px;
    line-height: 200%;
}

.spanFirst {
    margin-right: 5em;
}

.flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted dimgray;
    align-items: center;
}

.flex h1, .flex h2, .flex h3, .flex h4, .flex p{
  width:60%;
}

#container__background{
  margin: auto;
  width: 60%;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
  background-image: url("./images/background.png");
  background-size: 320%;
  overflow-x: hidden;
}

#goals__container{
  padding: 2.1em 3em 3em 3em;
  background-color: white;
  width: 90%;
  margin-top: 50px;
  border-radius: 10px;
}

.goal__container{
  width: 95%;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 0px 1px #e5e5e5;
  transition: 200ms ease-in-out;
}

.goal__container .flex{
  border: none;
}

.goal__container img{
  height: 45px;
}

.goal__container:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#activity__container {
  width: 100%;
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
  background-image: url("./images/background.png");
  background-size: 320%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.goal-buttons__container {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.goal-buttons__container img {
  height: 30px;
  width: auto!important;
}

.goal-type {
  text-align: center;
  width: 200px;
  margin: 8px;
  margin-right: 1em;
  background-color: #34b6dd;
  color: white;
  border-radius: 5px;
  font-size: 1em;
}

.goal-type2{
  width: 25%;
  margin: auto;
  font-weight: bold;
  padding: .5em;
  color: #17686d;
  font-size: 1em;
}

.goal-estimate{
  text-align: right;
  width: 50%;
  color: #008000
}

.flex2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted dimgray;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.flex:last-child {
    border-bottom: none;
}

.container {
    width: 90%;
    padding-bottom: 2em;
    display: block;
    margin-bottom: 150px;
    margin: auto;
}

.blue {
    background-color: #34b6dd;
}

.turquoise {
    background-color: #17686d;
}

.magenta {
    background-color: #e51f4f;
}

.yellow {
    background-color: #f6ae1a;
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}

.container-head{
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

.container-head img{
  margin-right: 1em;
  width: 3em;
}

.container-head h1{
  width: 90%;
  margin-bottom: 0;
  padding-top: 0;
  margin: auto;
  align-items: center;
}

/* COMPLIMENT CARD */

.new__card {
  margin: 10px;
  width: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 1em;
  transition: 200ms ease-in-out;
  box-shadow: 0 2px 0 1px #e5e5e5;
  display: flex;
}

.new__card:hover {
  transform: scale(1.02);
  transition: .2s ease-in-out;
  cursor: pointer;
}

.new__card .new__card_sender {
  margin-right: 1em;
}

.new__card .new__card_sender img {
  max-height: 3em;
  width: 3em;
  border-radius: 50%;
}

.new__card .new__card_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new__card .new__card_content .new__card_header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1em 1em;
  border-left: 2px solid #e51f4f;
}

.new__card .new__card_content h4 {
  font-size: 14px;
}

.new__card .new__card_content span {
  color: #9c9c9c;
}


.new__card_message {
  padding: 0 0 1em 1em;
  border-left: 2px solid #e51f4f;
}

.new__card_receivers {
  display: flex;
  align-self: flex-end;
}


.new__card_receivers img {
  max-height: 3em;
  width: 3em;
  border-radius: 50%;
  margin-right: 1em;
}

.expanded__receivers {
  align-self: center;
}

.expanded__item {
  margin-right: 3em;
  text-align: center;
}

.expanded__item img {
  max-height: 3em;
  width: 3em;
  border-radius: 50%;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

/* HEADER NAVIGATION */


.active-nav {
  background-color: #e8e8ed;
  transition: 200ms;
}

header {
  background-color: #e8e8ed;
  height: 100vh;
  padding: 2em;
  position: sticky;
  top: 0;
  transition: .2s ease-in-out;
}

header .select {
  opacity: 1;
  transition: .2s ease-in-out;
  margin-bottom: 2em;
  width: 100%;
}

header select {
  background-color: white;
  font-size: 0.9em;
}

header > a img {
  width: 8em;
  margin-bottom: 1em;
  transition: .2s ease-in-out;
  cursor: pointer;
}

header ul {
  list-style-type: none;
}

header ul li a {
  display: flex;
  text-decoration: none;
  padding: .75em;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

header ul li a:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

header ul li a > div {
  display: flex;
  justify-content: center;
}

header ul li img {
  width: 1.5em;
  margin-right: 1em;
  transition: .2s ease-in-out;

}

header ul li p {
    color: #4A494A;
    transition: .2s ease-in-out;
    font-size: 14px;
}

header ul .hoverable {
  margin-bottom: 1em;
}

header ul .hoverable::before {
    position: absolute;
    bottom: 0.1em;
    color: white;
    background-color: black;
    padding: .75em;
    border-radius: 5px;
    font-family: 'publicSans', sans-serif;
    font-size: 14px;
    z-index: 99;
    left: 4.9em;
    padding: .8em 1em;
}

header ul .hoverable:nth-of-type(1):hover::before {
    content: "Dashboard";
    z-index: 999;
}

header ul .hoverable:nth-of-type(2):hover::before {
    content: "Feedback";
    z-index: 999;
}

header ul .hoverable:nth-of-type(3):hover::before {
    content: "Team";
    z-index: 999;
}

header ul .hoverable:nth-of-type(4):hover::before {
    content: "Mijn doelen";
    z-index: 999;
}

header ul .hoverable:nth-of-type(5):hover::before {
    content: "Assessment";
    z-index: 999;
}

header ul .hoverable:nth-of-type(6):hover::before {
    content: "Leaderboard";
    z-index: 999;
}

header ul .hoverable:nth-of-type(7):hover::before {
    content: "Profiel";
    z-index: 999;
}

header ul .hoverable:nth-of-type(8):hover::before {
    content: "Uitnodigen";
    z-index: 999;
}

#invite-others {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid #9c9c9c;
}

#invite-others a p {
    color: #17686d;
}

#toggle-header {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: white;
    z-index: 999;
    position: absolute;
    top: 2.5em;
    right: -1.2em;
    cursor: pointer;
    background-color: #17686d;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

#toggle-header:hover {
    background-color: #114c4c;
}

#toggle-header:hover img {
    transform: scale(1.1);
}

#toggle-header img {
    filter: invert(1);
    margin: 0 auto;
    width: 30px;
    transition: .2s ease-in-out;
}

.toggle-animation {
    transform: rotate(180deg);
    transition: .3s linear;
}

.toggle-header {
    width: 5em!important;
    padding: 1em!important;
    position: sticky;
    top: 0;
    z-index: 1;
}

.toggle-nav-text {
    display: none;
}

.toggle-logo {
    width: 3.5em!important;
    transition: .2s ease-in-out;
    margin-bottom: 4em!important;
}

.toggle-icons-width {
    width: 1.5em!important;
    transition: .2s ease-in-out;
}

.hide-dropdown {
    display: none!important;
    transition: .2s ease-in-out;
}

.move-button {
    top: 3.5em!important;
}

/* COLOR USAGE */

.blocks {
    background-color: #fff;
    color: #000;
    transition: .2s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 2px 0 1px #e5e5e5;
    width: 24%;
    margin: 0 auto;
}

.blocks p {
    font-size: 14px;
    margin: 1em;
    width: auto;
}

.blocks__container {
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-image: url("./images/background.png");
    background-size: 320%;
}

#red-block {
    width: 100%;
    height: 5em;
    background-color: #e51f4f;
    border-radius: 10px 10px 0px 0px;
}

#blue-block {
    width: 100%;
    height: 5em;
    background-color: #34b6dd;
    border-radius: 10px 10px 0px 0px;
}


#green-block {
    width: 100%;
    height: 5em;
    background-color: #17686d;
    border-radius: 10px 10px 0px 0px;
}

#yellow-block {
    width: 100%;
    height: 5em;
    background-color: #f6ae1a;
    border-radius: 10px 10px 0px 0px;
}
